@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  vertical-align: middle;
}

a img {
  border: none;
}

li {
  list-style: none;
}

address, em, i {
  font-style: normal;
}

/* layout */
body {
  color: #4e4e4e;
  font-family: 'NanumSquare', sans-serif !important;
  font-size: 14px;
  line-height: 1.4;
}

.wrap {
  width: 100%;
  min-width: 1100px;
  overflow-x: hidden;
}

/* default */
br.mo {
  display: none;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 0 60px;
  line-height: 120px;
  z-index: 100;
  transition: 0.5s;
}

header.on {
  background-color: #fff;
}

header .open {
  display: none;
}

header .close {
  display: none;
}

header .logo {
  display: block;
  color: #39312b;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -6px;
  float: left;
}

header nav {
  float: right;
}

header nav .gnb li {
  display: inline-block;
  margin-left: 60px;
}

header nav .gnb li a {
  position: relative;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
}

header nav .gnb li a::after {
  content: "";
  background-color: #888;
  position: absolute;
  left: 50%;
  bottom: 47px;
  width: 0;
  height: 1px;
  transform: translateX(-50%);
  transition: all 0.5s;
}

header nav .gnb li a:hover::after,
header nav .gnb li a:focus::after {
  width: 100%;
}

/* visual */
section.visual {
  position: relative;
  margin-top: 120px;
  padding-bottom: 50px;
}

section.visual::before {
  content: "";
  background-color: #f0f0f0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 53%;
  height: 400px;
}

/* visual - img */
section.visual .img {
  position: relative;
  width: 94%;
  text-align: center;
}

section.visual .img-box {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section.visual .img-box img {
  width: 100%;
  transform: scale(1);
}

section.visual .slick-active .img-box img {
  animation: scale-ani 4.8s;
}

section.visual .slick-active .img .mask {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  animation: mask;
}

section.visual .slick-active .img .mask.a {
  left: 0;
  animation-duration: 0.4s;
}

section.visual .slick-active .img .mask.b {
  left: 25%;
  animation-duration: 0.6s;
}

section.visual .slick-active .img .mask.c {
  left: 50%;
  animation-duration: 0.8s;
}

section.visual .slick-active .img .mask.d {
  left: 75%;
  animation-duration: 1s;
}

section.visual .img .page {
  position: absolute;
  top: 50%;
  right: -43px;
  transform: translateY(-50%);
}

/* visual - title */
section.visual .title {
  position: absolute;
  top: 40%;
  left: 8%;
  color: #fff;
}

section.visual .title h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

section.visual .slick-active .title h2 {
  animation: slide-up 1.5s;
}

section.visual .title p {
  font-size: 20px;
  font-weight: 300;
}

section.visual .slick-active .title p {
  animation: slide-up 2.2s;
}

/* slide slick dots */
.slick-dots {
  position: absolute;
  right: 4.5%;
  bottom: 30px;
}

.slick-dots li button {
  background-color: #ccc;
  width: 12px;
  height: 12px;
  margin-bottom: 15px;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #39312b;
}

/* visual - menu */
section.visual .menu {
  position: absolute;
  left: 8%;
  bottom: 15%;
  display: flex;
  animation: slide-up 2.8s;
}

section.visual .menu li {
  margin-right: 60px;
}

section.visual .menu li a {
  display: flex;
  align-items: center;
  color: #fff;
}

section.visual .menu li a p {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
}

section.visual .menu li a p span {
  display: block;
  color: #aaa;
  font-size: 15px;
  font-weight: 100;
}

section.visual .menu li a .arrow {
  position: relative;
  margin-left: 20px;
  z-index: 1;
}

section.visual .menu li a .arrow::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  z-index: -1;
  transition: 0.3s;
}

section.visual .menu li a:hover .arrow::before, 
section.visual .menu li a:focus .arrow::before {
  top: 0;
  right: 0;
}

/* about */
section.about {
  position: relative;
  width: 95%;
  margin: 40px auto;
  text-align: center;
}

section.about img {
  width: 100%;
}

section.about .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

section.about .inner h2 {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
}

section.about .inner.animate__motion h2 {
  animation: slide-up 0.8s;
}

section.about .inner .line {
  position: relative;
  width: 35%;
  margin: 80px auto 30px;
}

section.about .inner .line span {
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  width: 100%;
  height: 1px;
}

section.about .inner.animate__motion .line span {
  animation: opacity-ani 0.8s;
}

section.about .inner .line li {
  background-color: #fff;
  position: absolute;
  top: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

section.about .inner .line li.a {
  left: 0;
}

section.about .inner.animate__motion .line li.a {
  animation: opacity-ani 1.2s;
}

section.about .inner .line li.b {
  left: 50%;
  transform: translateX(-50%);
}

section.about .inner.animate__motion .line li.b {
  animation: opacity-ani 1.6s;
}

section.about .inner .line li.c {
  right: 0;
}

section.about .inner.animate__motion .line li.c {
  animation: opacity-ani 2s;
}

section.about .inner .line li::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -3px;
  margin-left: -3px;
  border-radius: 50%;
}

section.about .inner.animate__motion .line li::before {
  animation: dot 1.5s infinite;
}

section.about .inner ul {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

section.about .inner ul li {
  width: 33.3333%;
  color: #c5c5c5;
  font-size: 17px;
  font-weight: 100;
}

section.about .inner.animate__motion ul li:nth-of-type(1) {
  animation: slide-up2 2.4s;
}

section.about .inner.animate__motion ul li:nth-of-type(2) {
  animation: slide-up2 2.8s;
}

section.about .inner.animate__motion ul li:nth-of-type(3) {
  animation: slide-up2 3.2s;
}

section.about .inner ul li h3 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

/* premium */
section.premium {
  background: url(../img/con2_bg.jpg) no-repeat center/cover;
  position: relative;
  width: 95%;
  height: 1020px;
  padding: 100px 0;
  margin: 40px auto;
}

section.premium .textImg {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  overflow: hidden;
}

section.premium .textImg.animate__motion {
  animation: width-ani 2.5s;
}

section.premium .title {
  position: absolute;
  left: 8%;
  top: 35%;
}

section.premium .title h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

section.premium .title p {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 1.6;
}

section.premium .title a {
  position: relative;
  display: inline-block;
  font-size: 24px;
}

section.premium .title a::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 15px;
  transition: 0.3s;
}

section.premium .title a:hover::before,
section.premium .title a:focus::before {
  width: 0;
}

section.premium .banner li {
  position: absolute;
  width: 15%;
  box-shadow: 5px 6px 15px rgba(3, 3, 3, 0.4);
}

section.premium .banner li:nth-child(1) {
  top: 15%;
  left: 45%;
}

section.premium .banner li.animate__motion:nth-child(1) {
  animation: slide-up 1.2s;
}

section.premium .banner li:nth-child(2) {
  top: 50%;
  left: 37%;
}

section.premium .banner li.animate__motion:nth-child(2) {
  animation: slide-up 1.8s;
}

section.premium .banner li:nth-child(3) {
  top: 62%;
  left: 55%;
}

section.premium .banner li.animate__motion:nth-child(3) {
  animation: slide-up 2.2s;
}

section.premium .banner li:nth-child(4) {
  /* top: 0; */
  right: 2%;
  width: 32%;
  max-width: 580px;
}

section.premium .banner li.animate__motion:nth-child(4) {
  animation: slide-up 1.5s;
}

section.premium .banner li img {
  width: 100%;
}

/* gloabal */
section.global {
  position: relative;
  width: 95%;
  margin: 40px auto 0;
  padding: 40px 0;
  text-align: center;
}

section.global::before {
  content: "";
  background-color: #eee;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
  z-index: -1;
}

section.global .title h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

section.global .title p {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.4;
}

section.global ul {
  display: flex;
  padding-top: 50px;
}

section.global ul li {
  padding: 15px;
}

section.global ul li:nth-child(1),
section.global ul li:nth-child(3) {
  margin-top: -50px;
}

section.global.animate__motion ul li:nth-child(1) {
  animation: slide-up 1s;
}

section.global.animate__motion ul li:nth-child(2) {
  animation: slide-up 1.4s;
}

section.global.animate__motion ul li:nth-child(3) {
  animation: slide-up 1.7s;
}

section.global.animate__motion ul li:nth-child(4) {
  animation: slide-up 2s;
}

section.global ul li a {
  display: block;
}

section.global ul li a .img {
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

section.global ul li a:hover .img,
section.global ul li a:focus .img{
  box-shadow: 15px 18px 10px rgba(0, 0, 0, 0.35);
  transform: translate(-8px, -8px);
}

section.global ul li a .img::after {
  content: "VIEW";
  background-color: rgba(44, 35, 28, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #d4d4d4;
  font-size: 22px;
  opacity: 0;
  transition: 0.3s;
}

section.global ul li a:hover .img::after,
section.global ul li a:focus .img::after {
  opacity: 1;
}

section.global ul li a .img img {
  width: 100%;
}

section.global ul li a h3 {
  margin: 40px 0 15px;
  font-size: 22px;
}

section.global ul li a h3 span {
  display: block;
  color: #888;
  font-size: 18px;
  font-weight: normal;
}

section.global ul li a p {
  font-size: 17px;
}

/* footer */
footer {
  padding: 80px 0 0;
  text-align: center;
}

footer .sns a {
  display: inline-block;
  margin-right: 30px;
}

footer .sns a:last-child {
  margin-right: 0;
}

footer .footer-logo {
  margin: 40px 0;
  color: #39312b;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -6px;
}

footer .company-info {
  font-size: 17px;
  line-height: 1.4;
}

footer .company-info span {
  display: block;
  margin-top: 20px;
  color: #888;
  font-size: 15px;
  font-weight: 100;
}

footer .box {
  background: url(../img/bottom_bg.jpg) no-repeat center/cover;
  padding: 150px 0;
  margin-top: 80px;
}

footer .box p {
  color: #fff;
  font-size: 22px;
  font-weight: normal;
}

footer .box.animate__motion p {
  animation: slide-up 1s;
}

/* animation */
@keyframes mask {
  0%, 50% {
    width: 25%;
    background-color: #000;
  }
  99% {
    background-color: #000;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateY(40px);
  }
}

@keyframes slide-up2 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(40px);
  }
}

@keyframes scale-ani {
  0%, 30% {
    transform: scale(1.2);
  }
}

@keyframes dot {
  100% {
    opacity: 1;
    transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes opacity-ani {
  0%, 70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes width-ani {
  0%, 40%{
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* 반응형 */
/* 태블릿 : 1100px ~ 951px */
@media screen and (max-width:1100px) {
  .wrap{
    min-width: 100%;
  }
  
  /* header */
  header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
  }

  header .open {
    order: 1;
    display: block;
    height: 60px;
    padding-top: 5px;
    font-size: 32px;
  }

  header .bg {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 200;
  }

  header .logo {
    font-size: 30px;
    letter-spacing: -4px;
  }

  header nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    z-index: 300;
    overflow: hidden;
    transition: width 0.3s;
  }

  header nav.on {
    width: 50%;
    max-width: 300px;
  }

  header nav .close {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    padding-top: 5px;
    font-size: 35px;
  }

  header nav .gnb {
    margin-top: 100px;
  }

  header nav .gnb li {
    display: block;
    margin: 0;
    line-height: 60px;
  }

  header nav .gnb li a {
    padding-left: 30px;
    font-size: 20px;
  }

  header nav .gnb li a::after {
    display: none;
  }

  /* visual */
  section.visual {
    margin-top: 60px;
  }

  section.visual .img-box img {
    width: auto;
    height: 100%;
  }

  section.visual .title {
    left: 5%;
  }

  section.visual .menu {
    /* width: 100%; */
    left: 5%;
  }

  section.visual .menu li {
    margin-right: 30PX;
  }

  section.visual .menu li a p {
    font-size: 17px;
  }

  .slick-dots {
    right: 2.5%;
  }

  /* about */
  section.about {
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

  section.about img{
    /* width: auto; */
    height: 100%;
  }

  section.about .inner .line {
    width: 40%;
  }

  section.about .inner ul {
    flex-wrap: wrap;
    width: 80%;
  }

  section.about .inner ul li {
    width: 50%;
  }

  section.about .inner ul li:nth-of-type(3) {
    margin-left: 25%;
  }

  /* premium */
  section.premium {
    width: 100%;
    height: 800px;
  }

  section.premium .title {
    left: 5%;
  }

  section.premium .textImg {
    left: 5px;
  }

  /* global */
  section.global {
    width: 100%;
  }

  section.global ul li {
    padding: 10px;
  }

  section.global ul li a p {
    font-size: 15px;
  }

  section.global ul li a .img::after {
    display: none;
  }
}

/* 태블릿 : 950px ~ 751px */
@media screen and (max-width: 950px) {
  /* visual */
  section.visual .menu {
    display: none;
  }

  section.visual .img {
    width: 92%;
  }

  /* about */
  section.about {
    height: 480px;
  }

  section.about .inner .line {
    width: 60%;
  }

  section.about .inner ul {
    flex-wrap: nowrap;
    width: 95%;
  }

  section.about .inner ul li {
    width: 33.3333%;
    font-size: 12px;
  }

  section.about .inner ul li:nth-of-type(3) {
    margin-left: 0;
  }

  /* premium */
  section.premium .title {
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  section.premium .textImg {
    top: 28%;
    left: 20px;
    height: 60px;;
  }

  section.premium .textImg img {
    height: 100%;
  }

  section.premium .banner {
    position: relative;
    top: 30%;
    left: 50%;
    width: 80%;
    height: 500px;
    transform: translateX(-50%);
  }
  
  section.premium .banner li:nth-child(1) {
    left: 13%;
    width: 22%;
  }

  section.premium .banner li:nth-child(2) {
    left: 4%;
    width: 22%;
  }

  section.premium .banner li:nth-child(3) {
    left: 36%;
    width: 22%;
  }

  section.premium .banner li:nth-child(4) {
    left: 50%;
    width: 48%;
  }

  /* global */
  section.global::before {
    height: 48%;
  }

  section.global .title h2 {
    font-size: 20px;
  }

  section.global .title p {
    font-size: 13px;
  }

  section.global ul {
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
  }

  section.global ul li {
    width: 50%;
    margin-bottom: 20px;
  }

  section.global ul li a h3 {
    margin: 20px 0 10px;
    font-size: 16px;
  }

  section.global ul li a h3 span {
    font-size: 12px;
  }

  section.global ul li a p {
    font-size: 10px;
  }

  /* footer */
  footer {
    padding-top: 50px;
  }

  footer .sns a img {
    width: 80%;
  }

  footer .footer-logo {
    font-size: 28px;
    letter-spacing: -4px;
  }

  footer .company-info {
    font-size: 13px;
  }

  footer .company-info span {
    margin-top: 10px;
  }

  footer .box {
    padding: 80px 0;
    margin-top: 50px;
  }
  
  footer .box p {
    font-size: 17px;
  }
}

/* 모바일 : 750px 이하 */
@media screen and (max-width: 750px) {
  /* default */
  br.mo {
    display: block;
  }

  /* visual */
  section.visual {
    height: 80vh;
    overflow: hidden;
  }

  section.visual .img {
    width: 87%;
  }

  section.visual .img-box img {
    width: auto;
    height: 80vh;
  }

  section.visual .img .page img {
    width: 75%;
    height: auto;
    margin-left: 8%;
  }

  section.visual .title h2 {
    font-size: 29px;
  }

  section.visual .title p {
    font-size: 14px;
  }

  .slick-dots {
    right: 20px;
  }

  /* about */
  section.about .inner h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  section.about .inner .line {
    display: none;
  }

  section.about .inner ul {
    flex-wrap: wrap;
  }

  section.about .inner ul li {
    width: 100%;
    margin-top: 20px;
    font-size: 13px;
  }
  
  section.about .inner ul li h3 {
    margin-bottom: 8px;
    font-size: 16px;
  }

  /* premium */
  section.premium {
    height: 685px;
  }

  section.premium .textImg {
    left: 0;
    height: 32px;
    text-align: center;
  }

  section.premium .title h2 {
    font-size: 20px;
  }

  section.premium .title p {
    margin-bottom: 20px;
    font-size: 13px;
  }

  section.premium .title a {
    font-size: 18px;
  }

  section.premium .title a::before {
    width: 60px;
    height: 12px;
  }

  section.premium .banner {
    width: 100%;
    height: 400px;
  }
  
  section.premium .banner li:nth-child(1) {
    left: 10%;
  }

  section.premium .banner li:nth-child(2) {
    left: 5%;
  }

  section.premium .banner li:nth-child(3) {
    left: 38%;
  }

  section.premium .banner li:nth-child(4) {
    top: -3%;
    left: 44%;
    width: 50%;
  }
}

/* 모바일 : 320px ~ 280px 체크 */
@media screen and (max-width: 320px) {
  /* visual */
  section.visual .img .page img {
    width: 55%;
    margin-left: 15%;
  }

  section.visual .title h2 {
    font-size: 22px;
  }

  section.visual .title p {
    font-size: 11px;
  }

  .slick-dots li button {
    width: 8px;
    height: 8px;
    margin-bottom: 10px;
  }

  /* about */
  section.about {
    height: 480px;
  }

  section.about .inner h2 {
    font-size: 16px;
  }

  section.about .inner ul li {
    font-size: 11px;
  }

  section.about .inner ul li h3 {
    font-size: 14px;
  }

  /* premium */
  section.premium {
    height: 600px;
  }

  section.premium .textImg {
    top: 33%;
  }

  section.premium .title h2 {
    font-size: 16px;
  }

  section.premium .title p {
    font-size: 11px;
  }
  
  section.premium .banner {
    top: 38%;
    height: 350px;
  }

  section.premium .banner li:nth-child(1),
  section.premium .banner li:nth-child(2),
  section.premium .banner li:nth-child(3) {
    width: 28%;
  }

  /* global */
  section.global .title h2 {
    font-size: 16px;
  }

  section.global .title p {
    font-size: 11px;
  }

  section.global ul li a h3 {
    font-size: 14px;
  }

  /* footer */
  footer .footer-logo {
    margin: 20px 0;
  }

  footer .company-info {
    font-size: 10px;
  }

  footer .box {
    padding: 50px 0;
  }

  footer .box p {
    font-size: 14px;
  }
}